@import "node_modules/@cells-components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  @apply --cells-ui-detalle-pedido-vcard;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;}

.fila-detalle-header{
  width: 100%;
  height: 5%;
  padding: 1%;
  border-bottom: 1px solid #E6E6E6;
  display: inline-block;
}

.fila-detalle{
  width: 100%;
  border-bottom: 1px solid #E6E6E6;
  display: inline-block;
  height: 12%;
  padding: 1%;
}

.contenedor-detalle{
  max-height: 600px;
  overflow: auto;
}

@media (max-width: 768px) {
  .fila-detalle{
    width: 100%;
    border-bottom: 1px solid #E6E6E6;
    display: inline-block;
    height: 8%;
    padding: 1%;
    overflow: auto;
    max-height: 600px;
  }
}

@media (max-width: 320px) {
  .fila-detalle{
    width: 100%;
    border-bottom: 1px solid #E6E6E6;
    display: inline-block;
    height: 15%;
    padding: 1%;
    overflow: auto;
    max-height: 600px;
  }
}
.celda-detalle-header{
  width: 70%;
  float: left;
}
.celda-cantidad-header{
  width: 30%;
  float: left;
}

.celda-detalle{
  width: 70%;
  float: left;

  &-tarjeta{
    color: #2DCCCD;
    font-size: 1.1em;
    font-weight: 400;
  }

  &-bin{
    color: #999999;
    font-size: 0.8em;
    font-weight: 400;
  }

  &-formato{
    color: #CCCCCC;
    font-size: 0.8em;
    font-weight: 400;
  }
}

.celda-cantidad{
  width: 30%;
  height: 100%;
  float: left;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;

  &-item{
    background-color: #48AE64;
    padding: 5%;
    border-radius: 20%;
    color: white;
    font-weight: 500;
  }
}

.contenedor{
  margin: 3%;
  display: inline-block;
  height: 90%;
  width: 94%;
}

.titulo-detalle{
  font-weight: bold;
  color:#1973B8;
}

.titulo-cantidad{
  text-align: center;
  font-weight: bold;
  color:#1973B8;
}

.contenedor-filtro{
  margin-bottom: 3%;
  margin-left: 1%;
  width: 100%;
  &-titulo{
    font-weight: bold;
    color:#1973B8;
    margin-bottom: 1%;
  }
}